//- _groups.jade
//- Controller add_group
extend _layout_adds.jade

//- block form_add

//-   form-repeat-element(ng-model="data", min-init="1", fn-new="newGroupToAdd")
//-     //- Modelo de ingreso grupos
//-     .row
//-       .col-md-12.text-right(ng-if="!$$isHeader()"): button.btn.btn-link.btn-xs(form-remove-element, ng-click="$$remove()")
//-         i.glyphicon.glyphicon-remove
//-         | &nbsp;Eliminar
//-       .form-group.col-md-6(ng-class="{'has-success': data.validaKey(), 'has-error': group.dangerKey()}")
//-         label Nombre clave del grupo
//-         input.form-control(placeholder="Nombre clave del grupo", ng-model="$$data.key")
//-       .form-group.col-md-6
//-         label Nombre del grupo
//-         input.form-control(placeholder="Nombre del grupo", ng-model="$$data.name")

//-   button(ng-click="newGroupToAdd()").btn.btn-default Agregar un nuevo grupo

//- block information
//-   pre: {{data|json}}

block information
  h2 Agrega un nuevo grupo
  p Los grupos organizan los permisos que usaran los usuarios.

  //- pre {{hsA()|json}}


  //- pre {{ data.groupsAdd | json }}
  //- pre {{ alertsFixed | json }}

block form_add
  h2 Nuevo {{(data.groupsAdd.length==1)?'Grupo':'Grupos'}}

  alert(ng-repeat="alert in alertsFixed", type="{{alert.type}}"): span(ng-bind-html="alert.message")
  alert(ng-repeat="alert in alerts", type="{{alert.type}}", close="removeAlert(alert)"): span(ng-bind-html="alert.message")

  form: form-repeat-element(ng-model="data.groupsAdd", min-init="1", fn-new="newGroupToAdd", name-data="group")
    .row
      .col-md-12.text-right(ng-if="!$$isHeader()"): a.btn.btn-link.btn-xs(form-remove-element, ng-click="$$remove()")
        i.glyphicon.glyphicon-remove
        | &nbsp;Eliminar
      .form-group.col-md-6(ng-class="{'has-success': $parent.$parent.validateKey(group), 'has-error': $parent.$parent.dangerKey(group)}")
        label.visible-xs Nombre clave del grupo
        input.form-control(placeholder="Nombre clave del grupo", ng-model="group.key")
      .form-group.col-md-6
        label.visible-xs Nombre del grupo
        input.form-control(placeholder="Nombre del grupo", ng-model="group.name")
  button.btn-xs.btn.btn-default(ng-click="newGroupToAdd()")
    i.glyphicon.glyphicon-plus
    | &nbsp;Agregar otro grupo
  hr
  button(ng-click="save()", ng-class="{'disabled': statusLoadSaveGroup}").btn.btn-primary.btn-block Crear {{(data.groupsAdd.length==1)?'Grupo':'Grupos'}} {{statusLoadSaveGroup?'...':''}}
  br

  progressbar(ng-if="progressbar.status",
    value="progressbar.value",
    type="{{progressbar.type}}",
    max="progressbar.max",
    animate="true").progress-striped.active {{progressbar.text}}
