//- _groups.jade

.container
  h1 Grupos
    small &nbsp;Ver grupos.


  span(ng-if="!search.active")
    button.btn.btn-primary(ng-click="search.actived()"): i.glyphicon.glyphicon-search
    a(href="#/groups/add").btn.btn-default Nuevo grupo


  //- Panel para Buscar
  div(ng-if="search.active"): .input-group
    .input-group-btn
      button.btn.btn-danger(ng-click="search.actived()"): i.glyphicon.glyphicon-remove
    input(ng-keyup="search.exit($event)", ng-model="search.text", type="text", placeholder="Buscar Resultados").form-control
    .input-group-btn
      button.btn.btn-default(ng-click="search.clear()"): i.glyphicon.glyphicon-trash
      button.btn.btn-primary Buscar


  .table-responsive: table.table.table-striped
    thead
      tr
        th Id
        th Nombre
        th Descripción
    tbody
      tr(ng-repeat="group in groups | filter: search.text")
        td {{ group.key }}
        td {{ group.name }}
        td {{ group.description }}
