//- _login.jade

.container
  h1.text-center Acceso
  .row
    .col-md-6.col-md-offset-3: .well.well-xs
      div.alert.alert-warning
        i.glyphicon.glyphicon-warning-sign
        | &nbsp;El nombre de usuario o contrase単a no coinciden.
      form(role="form")
        .form-group
          label.visible-xs Usuario
          .input-group
            .input-group-addon: i.glyphicon.glyphicon-user
            input.form-control(placeholder="Usuario")
        .form-group
          label.visible-xs Contrase単a
          .input-group
            .input-group-addon: i.glyphicon.glyphicon-certificate
            input.form-control(placeholder="Contrase単a")
        div
          btn.btn.btn-primary.btn-block
            i.glyphicon.glyphicon-log-out
            | &nbsp;Ingresar
          btn.btn.btn-link.btn-block He olvidado mi Contrase単a.



