//- _recovery_password.jade


.container
  .h1.text-center: .logo-ajenjo.withLogo ajenjo
  h1.text-center Recuperar Contraseña
  .row
    .col-md-4.col-md-offset-4: .well.well-xs
      div.alert.alert-warning(ng-if="isNoSendEmail")
        i.glyphicon.glyphicon-alert
        | &nbsp;Lo céntimos no hemos encontrado ninguna cuenta asociada a este correo.
      div.alert.alert-success(ng-if="isSendEmail")
        //- i.glyphicon.glyphicon-warning-sign
        i.glyphicon.glyphicon-ok
        | &nbsp;Te hemos enviado un correo para que restaures un contraseña.
      div.alert.alert-danger(ng-if="isErrorOnSystem")
        i.glyphicon.glyphicon-remove
        strong &nbsp;Error:
        | &nbsp;Ha sucedido un error al intentar restaurar la contraseña, inténtelo nuevamente mas tarde.
      form(role="form")
        .form-group
          .help-block Si deseas restableces tu contraseña, ingresa tu dirección de correo electrónico para enviarte un enlace con el cual puedas ingresar tu nueva contraseña.
          label.visible-xs Dirección de Correo Electrónico
          input.form-control(ng-keypress="keyToCreateRecovery($event)", ng-model="data.email", placeholder="Dirección de Correo Electrónico")

        div
          button.btn.btn-primary.btn-block(type="button", ng-click="sendRecovery()")
            | Recuperar Contraseña&nbsp;
            i.glyphicon.glyphicon-send

          .text-right: a(href="#/login") Iniciar Sesión



