//- index.jade

extends _layout.jade

block content

  include _templates.jade

  control-activities
    //- pre.
      {{percent()}} ({{percent()*100}}%)
      {{existsActivities()?'true':'false'}}
      {{countActivities()}}
    //-  {{history()|json}}
    div.progress.ativitiestasks(ng-class="{'hidden': !existsActivities()}")
      div.progress-bar-striped.active.progress-bar(style="width: 5%")
      div.progress-bar-striped.active.progress-bar(style="width: {{percent()*100}}%")

  div(ng-controller="AppCtrl")

    .text-center(style="z-index:1000;padding-top:4px;position:fixed;display:block;width:100%"): .label.label-warning(ng-if="$root.appIsConnect<=0")= __("Servicio Desconectado, pueden existir problemas para conectarse.")

    //- Nav superior
    //- include components/_navbar.jade

    div(ng-view)



    //- .container
      //- button.btn.btn-default(ng-click="$root.callTest()") Call Test
      pre {{$root.status | json}}
      //- pre {{$root.reqExperimental | json}}
