//- _templates_login.jade

script(type="text/ng-template", id="login_page"):             include templates/_login.jade
script(type="text/ng-template", id="recovery_password_page"): include templates/_recovery_password.jade

script(type="text/ng-template", id="reset_password_page")
  if sails.config.ajenjo.restartPassword
    include templates/_reset_password.jade

script(type="text/ng-template", id="close_session"): include templates/_close_session.jade
