/*

Logo Ajenjo

Estilo para la fuente y logo.

*/


/* Font PACIFICO */
@import url('http://fonts.googleapis.com/css?family=Pacifico')

.logo-ajenjo
  font-family 'ajenjo-logo-font', cursive
  speak none
  font-style normal
  font-weight normal
  font-variant normal
  text-transform none
  line-height 1

  /* Better Font Rendering =========== */
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

  &.withLogo:before
    content '\e600'


@import '_progress_bar_to_activities'
