//- _users.jade
//- Controller add_user

extend _layout_adds.jade

block information
  h2 Agregar un nuevo usuario
  p Crea la invitacion para tus usuarios



block form_add
  h2(ng-if="typeInvitation=='single'") Nuevo Usuarios
  h2(ng-if="typeInvitation=='bulk'") Ingrese múltiples direcciones email
  alert(ng-repeat="alert in alerts.alerts", type="{{alert.type}}", close="alerts.removeAlert($index)"): span(ng-bind-html="alert.message")

  textarea.form-control(ng-if="typeInvitation=='bulk'", ng-model="data.usersAddlongText", rows="6")
  p.help-block(ng-if="typeInvitation=='bulk'")
    strong Nota:
    | &nbsp;Puede usar comas o espacios para separar las direcciones de email. usando el formato "name@domain.com" o "juan peres &lt;name@domain.com&gt;".
  p.help-block(ng-if="typeInvitation=='bulk'")
    strong Warning:
    | &nbsp;Se eliminaran todos los emails ya en lista.

  span(ng-if="typeInvitation=='single'"): form-repeat-element(ng-model="data.usersAdd", min-init="1", fn-new="data.newUserToAdd", name-data="user")
    .row
      .col-md-12.text-right(ng-if="!$$isHeader()"): button.btn.btn-link.btn-xs(form-remove-element, ng-click="$$remove()")
        i.glyphicon.glyphicon-remove
        | &nbsp;Eliminar
      .form-group.col-md-12(ng-class="{'has-success': $parent.$parent.v.email(user), 'has-error': $parent.$parent.d.email(user)}")
        label.visible-xs Correo Electrónico
        input.form-control(placeholder="name@domain.com", ng-model="user.email")
      .form-group.col-md-6
        label.visible-xs Nombre
        input.form-control(placeholder="Nombre", ng-model="user.name")
      .form-group.col-md-6
        label.visible-xs Apellido
        input.form-control(placeholder="Apellido", ng-model="user.lastname")

  button.btn-xs.btn.btn-default(ng-if="typeInvitation=='single'", ng-click="data.newUserToAdd()")
    i.glyphicon.glyphicon-plus
    | &nbsp;Agregar otro usuario

  hr


  button(ng-if="typeInvitation=='single'", ng-click="save()").btn.btn-primary.btn-block Crear {{(groupsToAdd.groups.length==1)?'el usuario':'los usuarios'}}
  small(ng-if="typeInvitation=='single'") o
    a(ng-click="toBulk()").btn.btn-xs.btn-link generar invitación en masa.
  button(ng-if="typeInvitation=='bulk'", ng-click="bulkEmailToListAccounts()").btn.btn-primary Agregar Usuarios
  button(ng-if="typeInvitation=='bulk'", ng-click="toSingle()").btn.btn-link Cancelar
  br


  progressbar(ng-if="progressbar.status",
    value="progressbar.value || 90",
    type="{{progressbar.type}}",
    max="progressbar.max||100",
    animate="true").progress-striped.active {{progressbar.text}}




