/*

Logo Ajenjo

Estilo para la fuente y logo.

*/
/* Font PACIFICO */
@import url("http://fonts.googleapis.com/css?family=Pacifico");
.logo-ajenjo {
  font-family: 'ajenjo-logo-font', cursive;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
/* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.logo-ajenjo.withLogo:before {
  content: '\e600';
}
.progress.ativitiestasks {
  background-color: transparent;
  border: 0px solid transparent;
  height: 3px;
  margin: 0px;
  padding: 0px;
  position: fixed;
  width: 100%;
  z-index: 1000;
}
