.container

  .h1.text-center: .logo-ajenjo.withLogo ajenjo

  h1.text-center= __("Cerrar Sesión")

  .row
    .col-md-4.col-md-offset-4: .well.well-xs

      div

        button(type="button").btn.btn-primary.btn-block= __("Cerrar Sesión")
