//- _reset_password.jade


.container
  .h1.text-center: .logo-ajenjo.withLogo ajenjo
  h1.text-center Reinicia tu Nueva Contraseña
  .row
    .col-md-4.col-md-offset-4: .well.well-xs
      form(role="form")

        .form-group(ng-class="{'has-success': data.password && data.isValidPassword(), 'has-error': data.password && !data.isValidPassword()}")
          label.visible-xs Escribe tu nueva contraseña
          input.form-control(ng-model="data.password", placeholder="Escribe tu nueva contraseña", type="password")
          span(ng-if="data.password")
            progressbar(value="data.getLevelPassword()", type="{{data.getTypePassword()}}")
            ul.list-unstyled
              li(ng-if="!policy.minLength()").text-danger
                i.glyphicon.glyphicon-remove
                | &nbsp;Requiere a lo menos {{configCtrl.minLengthPolycy}} caracteres.
            p.help-block * Te recomendamos crear una cotnraseña segura que complete el 100% de seguridad.
            p: strong Tu contraseña en este momento esta.
            ul.list-unstyled
              li(ng-if="policy.withUppercase()")  Con Mayúsculas.
              li(ng-if="!policy.withUppercase()") Sin Mayúsculas.
              li(ng-if="policy.withLowercase()")  Con Minúsculas.
              li(ng-if="!policy.withLowercase()") Sin Minúsculas.
              li(ng-if="policy.withNumber()")     Con Números.
              li(ng-if="!policy.withNumber()")    Sin Números.
              li(ng-if="policy.withSign()")       Con Signos.
              li(ng-if="!policy.withSign()")      Sin Signos.


        .form-group(ng-class="{'has-error': !data.isValidRepeatPassword()}")
          label.visible-xs Reescribe la contraseña
          input.form-control(ng-model="data.repeatPassword", placeholder="Reescribe la contraseña", type="password")


        div
          button(type="button").btn.btn-primary.btn-block Enviar Contraseña

