doctype html
html(ng-app="ajenjo")
  head

    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
    title(ng-bind="title") Ajenjo Panel Control


    //- Styles
    link(rel="stylesheet", type="text/css", href="bootstrap/dist/css/bootstrap.min.css")
    //- link(rel="stylesheet", type="text/css", href="bootswatch/superhero/bootstrap.min.css")
    //- link(rel="stylesheet", type="text/css", href="bootswatch/paper/bootstrap.min.css")
    //- link(rel="stylesheet", type="text/css", href="bootswatch/simplex/bootstrap.min.css")
    //- link(rel="stylesheet", type="text/css", href="bootswatch/united/bootstrap.min.css")
    link(rel="stylesheet", type="text/css", href="bootswatch/yeti/bootstrap.min.css")
    link(rel="stylesheet", type="text/css", href="fonts-ajenjo/ajenjo-logo/style.css")
    link(rel="stylesheet", type="text/css", href="css/big_titles.css")
    link(rel="stylesheet", type="text/css", href="css/base.css")


    //- Scrits
    script(type="application/javascript", src="angular/angular.min.js")
    script(type="application/javascript", src="sails.io.js/dist/sails.io.js")
    script(type="application/javascript", src="angular-sails/dist/angular-sails.js")
    //- script(type="application/javascript", src="angular-sails/dist/angular-sails.min.js")
    script(type="application/javascript", src="angular-route/angular-route.min.js")
    script(type="application/javascript", src="angular-sanitize/angular-sanitize.min.js")
    script(type="application/javascript", src="angular-bootstrap/ui-bootstrap-tpls.min.js")
    script(type="application/javascript", src="js/home.js")



  body: block content

