//- _templates.jade

//- Templates
  Todos los templates del sitio


script(type="text/ng-template", id="adds_page"):        include templates/_adds.jade
script(type="text/ng-template", id="groups_page"):      include templates/_groups.jade
script(type="text/ng-template", id="home_page"):        include templates/_home_page.jade
script(type="text/ng-template", id="permissions_page"): include templates/_permissions.jade
script(type="text/ng-template", id="users_page"):       include templates/_users.jade

//- Temp para pagina de usuario.
script(type="text/ng-template", id="login_page"):       include templates/_login.jade

